
.logo-container
  background-color: $background-color.default
  width: $left-menu-width
  text-align: center
  border-radius: $border-radius


// import the app style default.
@import '~vuetify/src/stylus/app.styl'
