
// settings

$primary-color = {
  base: #3F3D56,
  lighten-1: #7C7CA3,
  darken-1: #38384D
}

$secondary-color = {
  base: #0E84A8,
  lighten-1: #6EB5CB,
  darken-1: #074254
}

$error-color = {
  base: #D32F2F,
  lighten-1: #EA8F8F,
  darken-1: #9E2323
}
$success-color = {
  base: #33A25F,
  lighten-1: #99D1AF,
  darken-1: #006829
}
$info-color = {
  base: #2979FF,
  lighten-1: #7FAFFF,
  darken-1: #1F5BBF
}
$warning-color = {
  base: #FB8C00,
  lighten-1: #FDBA66,
  darken-1: #BC6900
}
$banana-color = {
  base: #E9C939,
  lighten-1: #F4E49C,
  darken-1: #AA8C06
}

$text-color = {
  primary: #030A10,
  secondary: rgba(3, 10, 16, .54),
  disabled: rgba(3, 10, 16, .38),
  hint: rgba(3, 10, 16, .38)
}
$default-color = {
  black: #030A10,
  white: #FCFEFF
}
$background-color = {
  paper: #FEFEFE,
  default: #F6F6F6
}

$left-menu-width = 220px

$border-radius = 20px

// import
@require '~vuetify/src/stylus/settings/_variables.styl'